/target/
/.settings/
/.classpath
/.project
**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/extension-all/dependency-reduced-pom.xml
/extension-run/dependency-reduced-pom.xml
/examples/sso-kubernetes/camunda-db.mv.db
/camunda-db.mv.db
