<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                        http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <activeProfiles>
    <activeProfile>github</activeProfile>
  </activeProfiles>

  <profiles>
    <profile>
      <id>github</id>
      <repositories>
        <repository>
          <id>central</id>
          <url>https://repo1.maven.org/maven2</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories/>
    </profile>
  </profiles>

  <servers>
      <server>
          <id>camunda-nexus</id>
          <username>${env.NEXUS_USR}</username>
          <password>${env.NEXUS_PSW}</password>
        </server>
        <server>
            <id>central</id>
            <username>${env.MAVEN_USR}</username>
            <password>${env.MAVEN_PSW}</password>
        </server>
        <server>
            <id>gpg.passphrase</id>
            <passphrase>${env.MAVEN_GPG_PASSPHRASE}</passphrase>
        </server>
    </servers>
  <mirrors/>
  <pluginGroups/>
</settings>
